### VS Code ###
.vscode/


.terraform.lock.hcl
.terraform/
terraform/*.tfvars
terraform/.terraform.lock.hcl
terraform/terraform
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform
terraform/tfplan


provider_only_local.tf